<div>
  <%= render 'shared/banner' %>
</div>

<div class= "container">
  <div  class="cards">
    <%= link_to new_list_path, :class => "card-category" do %>
      <div class="card-category" style="background-color:#FFBD23">
        <h1>Add a new list</h1>
      </div>
    <% end %>
    <% @lists.each do |list| %>
      <%= link_to list_path(list), :class => "card-category" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : asset_path('camera_rolling.jpg')%>)">
          <%= list.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
